body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0f2027, #203a43, #2c5364);
  color: white;
  text-align: center;
}

.container {
  margin-top: 80px;
}

input {
  padding: 12px;
  margin: 8px;
  width: 250px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #00c9a7;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #00ffcc;
}

h1 {
  margin-top: 40px;
}
