body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
padding:15px;
text-align:center;
background:#111827;
font-size:20px;
font-weight:bold;
}

main{
padding:15px;
padding-bottom:80px;
}

.card{
background:#1e293b;
padding:15px;
margin-bottom:15px;
border-radius:12px;
}

input{
width:100%;
padding:12px;
margin:5px 0;
border:none;
border-radius:8px;
}

button{
padding:12px;
border:none;
border-radius:8px;
background:#10b981;
color:white;
font-weight:bold;
}

ul{
list-style:none;
padding:0;
}

li{
background:#334155;
padding:10px;
margin:5px 0;
border-radius:8px;
display:flex;
justify-content:space-between;
align-items:center;
}

.menu{
position:fixed;
bottom:0;
width:100%;
display:flex;
background:#111827;
}

.menu button{
flex:1;
background:none;
font-size:20px;
}
