body {
background:#0f172a;
color:white;
font-family:Arial;
padding:15px;
}

h1 {
text-align:center;
}

.card {
background:#1e293b;
padding:15px;
margin:15px 0;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,0.5);
}

input {
width:100%;
padding:10px;
margin:5px 0;
border-radius:8px;
border:none;
}

button {
width:100%;
padding:10px;
margin-top:8px;
border:none;
border-radius:8px;
background:#10b981;
color:white;
font-weight:bold;
}
