body{
background:#0f172a;
color:white;
font-family:Arial;
padding:15px;
}

h1{text-align:center;}

.tabs button{
margin:5px;
padding:10px;
border:none;
border-radius:8px;
background:#1e293b;
color:white;
}

.card{
background:#1e293b;
padding:15px;
margin:10px 0;
border-radius:12px;
}

input,button{
width:100%;
padding:10px;
margin:5px 0;
border-radius:8px;
border:none;
}

button{
background:#10b981;
color:white;
font-weight:bold;
}

ul{list-style:none;padding:0;}

li{
background:#334155;
padding:8px;
margin:5px 0;
border-radius:8px;
display:flex;
justify-content:space-between;
}

.oculto{display:none;}
