body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1d3a;
  color: white;
}

header {
  text-align: center;
  padding: 15px;
  background: #102b55;
}

nav {
  display: flex;
  justify-content: space-around;
  background: #132c52;
  padding: 10px;
}

nav button {
  background: #1e90ff;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

nav button:hover {
  background: #187bcd;
}

main {
  padding: 15px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.card {
  background: #132c52;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
      }
